
%div
  = PracticeLog.human_attribute_name(:occurred_on) + ':'
  = @practice_log.occurred_on
%div
  = PracticeLog.human_attribute_name(:duration) + ':'
  = format_time(@practice_log.duration)
=link_to t('ccicc.edit'), edit_practice_log_path(@practice_log)
|
=link_to t('back'), practice_logs_path
