#nav-header
{
  background: url('../images/toolbarbg.png') repeat-x;
}
#nav-header,
#nav-header a
{
  color: white;
}
#nav-header a:hover
{
  color: #dfc;
}
#logo
{
  background: url('../images/logow.png') 7px 6px no-repeat;
}
