#nav-header
{
  background: url('../images/toolbarbg.png') repeat-x;
}
#nav-header,
#nav-header a
{
  color: white;
}
#nav-header a:hover
{
  color: #dfc;
}
#application-nav
{
  float:right;
}
#application-nav .nav-item
{
  text-decoration: none;
  font-size: 18px;
}
#application-nav a
{
  text-decoration: none;
  color: #8d7;
}
#logo
{
  background: url('../images/logow.png') 7px 6px no-repeat;
}
#content
{
  margin: 1.5em;
  margin-bottom: 3em;
  padding: 1em;
  border: solid 3px #8d7;
  background-color: #dfc;
}

#practice_log_occurred_on
{
  width: 8em;
}
#practice_log_expertise_id
{
  width: 20em;
}
#practice_log_duration
{
  width: 6em;
}
