#nav-header
{
  background-color: #bfa;
  border-bottom: solid 2px #180;
}
#logo
{
  background: url('../images/logob.png') 7px 6px no-repeat;
}
#twitter_login
{
  background: url('../images/twitter_newbird_white.png') 15px 10px no-repeat;
  text-indent: -10000px;
  width: 43px;
}
#nav-header a:hover
{
  background-color: #ae8;
}
#nav-header #logo a:hover
{
  background-color: inherit;
}
