%p#notice
  = notice

Expertise:
=@expertise.name
%br/

Minutes remaining:
= @expertise.total_minutes_remaining/60
%br/

%table
  %tr
    %th Date
    %th Duration
  -@expertise.practice_logs.each do |item|
    %tr
      %td item.occurred_on
      %td item.duration
      %td link_to 'Edit' edit_practice_log_path(item)
      %td link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete

= link_to 'Edit', edit_expertise_path(@expertise)
|
= link_to 'Back', expertises_path
